.major img{
    width:110%;
    padding:1%;
    margin-top: 7%;
    transition: all .2s ease-in-out;
}

header.major p {
    display: inline-block;
    border-top: solid 2px #e5e5e5;
    color: #777;
    margin: 1.5em 0 0 0;
    padding: 1.5em 0 0 0;
    font-style: normal;
    font-size: 30px;
}

.major img:hover {
    transform: scale(1.1);
}

header.major h2 {
    margin: 0;
    margin-bottom: 5%;
}

.ergotherapie {
    padding-top: 10%;
}

.ergo{
    text-align:left;
    margin-top: 10%;
}