

img {
    float: right;
    width: 20%;
    margin-right: 10%;
}

.section {
    padding-top: 3%;
    padding-bottom:3%;
    text-align: justify;
}

.menu{
    text-decoration: underline;
    margin-top: 5%;
    
}

.section-top {
    padding-top: 6%;
    padding-bottom:3%;
    text-align: justify;
}

.content{
    text-align:left;
}