.kontakt {
    text-align:left;
}

img {
    float: right;
    width: 20%;
    margin-right: 10%;
}

.section {
    padding-top: 8%;
    padding-bottom:8%;
    text-align: justify;
}

.menu {
    text-decoration: underline;
    margin-top: 5%;
}